{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1>Bienvenue {{ app.user.nom }} {{ app.user.prenom }} !</h1>
    <p>Vous êtes connecté en tant que {{ app.user.email }}.</p>
{% endblock %}
